div {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 30px;
    color: #969696;
    text-shadow: 1px 1px 0px #fff;
    font-weight: 100;
  }
   h1 span {
    display:block;
    font-size: 14px;
    color: #bbb;
   }
  form p { position: relative; }
  label { 
    position:absolute;
    left:-9999px;
    text-indent: -9999px;
  }
  input {
    width: 250px;
    padding: 10px 12px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-radius: 4px;
    background: #e3e3e3;
    color: #888;
    
  }
  